@import url('https://fonts.cdnfonts.com/css/trebuchet-ms-2');

// Основні стилі
  
$white-color: #ffffff;
$black-color: #303030;

* {
    font-family: 'Trebuchet MS', sans-serif; 
    font-weight: 400; 
    background-color: #F6F7FA!important;     
}

// Стилі для шапки

.flex { 
    display: flex;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 650px 1fr) 300px;
    gap: 150px;
    margin-bottom: 10px;
}

html {
  scroll-behavior: smooth;
}

.header { 
    @extend .flex;
    margin-top: 31px; 

    @media (max-width: 992px) {
      margin-top: -50px;
  }

    .none { 
        opacity: 0;
    }

    .btn-login { 
        color: linear-gradient(90deg, #579AFF 11.17%, #574DCC 96.28%);
        font-size: 18px;
        line-height: 20.9px;
        padding: 20px 40px;
        border: $white-color;
        background-color: $white-color!important;
        border-radius: 10px;

        @media (max-width: 992px) {
          display: none;
        }
    }
}

.main { 
    @extend .flex;
    margin-top: 30px;

    @media (max-width: 992px) {
      margin: 0 50px;
      flex-direction: column; // Вирівнюємо елементи вертикально на маленьких екранах
      align-items: center; // Вирівнюємо елементи по початку
      text-align: center // Вирівнюємо текст по лівому краю
    }

    .info { 
        margin: 30px 70px;

        .main-text {
            margin-top: 75px;
            color: $black-color;
            font-size: 50px;
            font-weight: 700;
            line-height: 65px;
        }

        .second-text {
            font-size: 24px;   
        }
    }

    .form-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 500px;
        text-align: center;
        margin: 0 10px 0 0;

        @media (max-width: 992px) {
            width: 400px;
        }
        
        .google-btn, .signup-btn {
            background-color: #4285f4!important;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            margin: 10px 0;
            cursor: pointer;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            
            img {
                width: 30px;
                height: 30px;
                margin-right: 30px;
                border: $white-color;
                border-radius: 3px;
            }
        }
        
        .or-divider {
            margin: 10px 0;
            color: #888;
        }
        
        .input-field {
            width: calc(100% - 20px);
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
        }
        
        .terms {
            font-size: 12px;
            color: #888;
            margin-top: 20px;
        }
    }
}

// Slider 1

.wrapper-2 {
  margin-top: 75px;

  .block {
    display: flex;

    .block__side {
      flex: 0;
    }

    .block__body {
      padding: 0px;
      min-width: 0;

      .image-slider-2 {
        width: 100%;
        height: 600px;
        overflow: hidden;

        .image-slider__wrapper {
          display: flex;
          width: 100%;
          height: 100%;

          .image-slider__slide {
            
            .image-slider__image {
              img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .one,
            .last {
              width: 97%;
            }

            .two {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
}


// Блок About

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px; // Додатковий відступ для мобільних пристроїв

  @media (max-width: 992px) {
    margin-top: -200px;
  }

  .main-about {
    background-color: $white-color !important;
    padding: 40px 20px; // Зменшені відступи для мобільних пристроїв
    border-radius: 20px; // Зменшене округлення для мобільних пристроїв

    .main-text, 
    .second-text {
      background-color: $white-color !important;
    }

    .main-text strong, 
    .second-text strong {
      background-color: $white-color !important;
    }
    
    .main-text {
      font-size: 36px; // Зменшений розмір шрифту для мобільних пристроїв
    }

    .second-text {
      font-size: 18px; // Зменшений розмір шрифту для мобільних пристроїв
    }

    .btn-join {
      margin: 20px 0;
      background: linear-gradient(90deg, #574DCC, #579AFF);
      padding: 15px 50px; // Зменшені відступи для мобільних пристроїв
      border: 0;
      border-radius: 8px; // Зменшене округлення для мобільних пристроїв
      color: $white-color;
      font-size: 18px; // Зменшений розмір шрифту для мобільних пристроїв
    }
  }

  @media (min-width: 600px) {
    .main-about {
      padding: 60px 40px; // Відступи для планшетів
      border-radius: 30px; // Округлення для планшетів

      .main-text {
        font-size: 48px; // Розмір шрифту для планшетів
      }

      .second-text {
        font-size: 20px; // Розмір шрифту для планшетів
      }

      .btn-join {
        padding: 15px 80px; // Відступи для планшетів
        font-size: 20px; // Розмір шрифту для планшетів
      }
    }
  }

  @media (min-width: 1024px) {
    .main-about {
      padding: 100px 200px; // Відступи для великих екранів
      border-radius: 50px; // Округлення для великих екранів

      .main-text {
        font-size: 56px; // Розмір шрифту для великих екранів
      }

      .second-text {
        font-size: 24px; // Розмір шрифту для великих екранів
      }

      .btn-join {
        padding: 20px 100px; // Відступи для великих екранів
        font-size: 24px; // Розмір шрифту для великих екранів
      }
    }
  }
}

// Block Join 

.main-text-features {
  margin-top: 100px;
  font-size: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.features {
  background: $white-color;
  padding: 40px 20px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 400px, (1fr);
  grid-template-rows: 400px, (1fr);
  justify-content: center!important;
  text-align: center!important;
  gap: 40px;
  align-content: center!important;

  .main-text {
      font-size: 1.8em;
      margin-bottom: 41px;
  }


  .feature-item {
      background-color: $white-color!important;
      padding: 40px 20px;
      border-radius: 40px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .icon {
          background-color: $white-color!important;
          font-size: 2em;
      }

      h3 {
          background-color: $white-color!important;
          font-size: 1.2em;
          font-weight: bold;
      }

      p {
          background-color: $white-color!important;
          font-size: 0.9em;
          color: $black-color;
          font-size: 18px;
      }

  }

  .feature-item:nth-child(3) {
    grid-column-start: 2;
  }

  .feature-item:nth-child(4) {
    grid-column-end: 4;
  }

  @media (max-width: 768px) {
      grid-template-columns: 1fr;

      .feature-item:nth-child(3),
      .feature-item:nth-child(4) {
          grid-column: auto;
      }
  }
}

// Блок Find

.find {
  position: relative;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .gradient-background {
    position: absolute;
    top: 25%; /* Відносний відступ зверху, можна налаштувати */
    left: 15%; /* Відносний відступ зліва, можна налаштувати */
    width: 200px; /* Ширина блоку з градієнтом */
    height: 200px; /* Висота блоку з градієнтом */
    transform: translate(-50%, -50%); /* Центрування градієнта */
    background: linear-gradient(180deg, #3494E6 0%, #8583CD 44%, #EC6EAD 100%);
    border-radius: 50%;
    filter: blur(60px); /* Розмиття для ефекту */
    z-index: 1; /* Задній план */
  }

  .find-block {
    position: relative;
    z-index: 1; 
    padding: 40px;
    font-size: 25px;
    height: fit-content;
    width: fit-content;

    .main-text {
      font-size: 56px;

      @media (max-width: 768px) {
        font-size: 30px;
        margin-bottom: 50px;
      }
    }

    .find-item {
      background-color: $white-color !important;
      align-items: center;
      padding: 30px 120px;
      border-radius: 20px;
      margin: 5px 0;
      display: flex;
      overflow-wrap: break-word;
      justify-content: flex-start;

      @media (max-width: 768px) {
        margin: 20px 0;
        display: flex;
        padding: 20px 40px;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
        flex-wrap: wrap;
      }

      .item-icon {
        background-color: $white-color !important;
        min-width: 40px; // встановіть відповідну ширину для іконок
        display: flex;
        justify-content: center;
      }

      .item-text {
        background-color: $white-color !important;
        font-size: 24px;
        margin-left: 10px; // відступ між іконкою і текстом
        text-align: left; // текст вирівняний по лівому краю

        @media (max-width: 768px) {
          text-align: center !important;
          align-items: center !important;
        }
      }
    }
  }
}

// Блок Universe
.universe {
  margin-top: 100px;

  .universe-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .main-text {
      font-weight: bold;
      font-size: 56px;
    }

    .desc-text {
      font-size: 24px;
    }
  }
  
  // Медіа-запит для екранів шириною менше 900px
  @media (max-width: 500px) {
    .universe-block {
      text-align: left; // Вирівнювання тексту по лівому краю
      padding: 0 20px; // Додайте відступи, якщо потрібно

      .main-text, .desc-text {
        text-align: left; // Вирівнювання тексту по лівому краю
      }

      .main-text {
        font-size: 34px;
      }

      .desc-text {
        font-size: 18px;
      }
    }
  }
}

// Swiper 2

.wrapper {

  .block {
    display: flex;
    height: 100%;
    height: auto !important;

    .block__side {
      flex: 0;
    }

    .block__body {
      padding: 0px;
      min-width: 0;
      height: 100% !important;

      .image-slider {
        width: 100%;
        height: 700px;
        overflow: hidden;
        display: flex; // Додаємо Flexbox для контейнера
        flex-direction: column; // Встановлюємо напрямок Flexbox по вертикалі
        justify-content: center; // Централізуємо по вертикалі
        align-items: center; // Централізуємо по горизонталі

        .swiper-wrapper {
          display: flex;

          .swiper-slide {
            .image-slider__image {
              img {
                display: block;
                width: 100%;
                height: auto;
              }
            }

            .one,
            .last {
              margin-top: 25px;
              width: 87%;
            }
          }
        }

        .btn-join {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin: 20px 0;
          background: linear-gradient(90deg, #574DCC, #579AFF);
          padding: 15px 50px; // Зменшені відступи для мобільних пристроїв
          border: 0;
          border-radius: 8px; // Зменшене округлення для мобільних пристроїв
          color: $white-color;
          font-size: 18px; // Зменшений розмір шрифту для мобільних пристроїв

          @media (min-width: 600px) {
            padding: 15px 80px; // Відступи для планшетів
            font-size: 20px; // Розмір шрифту для планшетів
          }
        }
      }
    }
  }
}

// Блок Write

.write {
  .write-block {
    display: flex;
    align-items: center; // Центрування по вертикалі
    justify-content: space-between; // Простір між елементами

    @media (max-width: 992px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; // Центрування на менших екранах
    }

    .desc {
      display: flex;
      flex-direction: column; // Вирівнювання елементів вертикально
      align-items: center; // Центрування елементів

      .main-text {
        font-size: 56px;
        font-weight: bold;
        text-align: center; // Центрування тексту
      }

      .desc-text { 
        font-size: 21px; 
        text-align: center; // Центрування тексту
      }

      .btn-write {
        margin: 20px 0;
        background: linear-gradient(90deg, #574DCC, #579AFF);
        padding: 15px 50px;
        border: 0;
        border-radius: 8px;
        color: $white-color;
        font-size: 18px;

        @media (max-width: 992px) {
          align-self: center; // Центрування кнопки
        }
      }
    }

    .image {
      position: relative;

      .gradient-background {
        position: absolute;
        top: 25%; /* Відносний відступ зверху, можна налаштувати */
        left: 50%; /* Відносний відступ зліва, можна налаштувати */
        width: 200px; /* Ширина блоку з градієнтом */
        height: 200px; /* Висота блоку з градієнтом */
        transform: translate(-50%, -50%); /* Центрування градієнта */
        background: linear-gradient(180deg, #3494E6 0%, #8583CD 44%, #EC6EAD 100%);
        border-radius: 50%;
        filter: blur(60px); /* Розмиття для ефекту */
        z-index: 0; /* Задній план */
      }

      img {
        position: relative;
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 20px;
        z-index: 1;

        @media (max-width: 992px) {
          max-width: 100%;
        }
      }
    }
  }
}


.footer {
  margin-top: 50px;
  background-color: #fff; // Задаємо фон для футера
  padding: 20px 0;

  .footer-container {
    display: flex;
    justify-content: space-between; // Вирівнюємо елементи по боках
    max-width: 1200px; // Максимальна ширина для контейнера
    margin: 0 auto; // Центруємо контейнер
    padding: 0 20px; // Внутрішні відступи для контейнера

    @media (max-width: 992px) {
      margin: 0 50px;
      flex-direction: column; // Вирівнюємо елементи вертикально на маленьких екранах
      align-items: flex-start; // Вирівнюємо елементи по початку
      text-align: left; // Вирівнюємо текст по лівому краю
    }
  }

  .footer-column {
    display: flex;
    flex-direction: column; // Вирівнюємо елементи вертикально
    margin: 10px 20px; // Відступи між колонками

    h6 {
      font-weight: bold;
      margin-bottom: 10px; // Відступи знизу для заголовків
    }

    p, a {
      margin: 5px 0; // Відступи між абзацами та посиланнями
      color: #000; // Колір тексту та посилань
      text-decoration: none; // Відсутність підкреслення у посиланнях
    }

    a:hover {
      text-decoration: underline; // Підкреслення посилання при наведенні
    }
  }
}



