@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-family-jost: "Jost", sans-serif;
$font-family-jost: "DM Serif Display", serif;
$black-color: #292F36;
$brown-color: #CDA274;
$gray-color: #4D5053;


* {
  outline: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #fff;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.flex {
    display: flex;
    justify-content: space-between; // розкидати об'єкти по різних сторонах
}

header {
  background: linear-gradient($linear-gradient);
  padding-top: 20px;

  .header-top {
    @extend .flex;
    align-items: center;

    .logo {
      font-family: 'Suez One', serif;
      color: #fff;
      font-size: 50px;
    }

    @media(min-width: 1025px) {
      .menu {
        display: none;
      }
    }

    @media(max-width: 1024px) {
      ul {
        display: none;
      }

      .menu {
        font-size: 35px;
      }
    }

    ul {
      list-style: none;
      margin: initial;

      li {
        display: inline-block;
        margin-right: 57px;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #fff;
          text-transform: uppercase;
          font-size: 18px;

          &::after {
            content: "";
            width: 0%;
            display: block;
            background-color: #fff;
            height: 2px;
            transition: all .3s ease;
          }

          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }

  @media(min-width: 1025px){
    .mobile-menu {
      display: none!important;
    }
  }

  @media(max-width: 1024px){
    .mobile-menu {
      display: none;
      text-align: center;

      ul {
        padding: 0;
      }

      li {
        margin-bottom: 25px;
        list-style: none;
        font-size: 24px;

        a {
          color: #fff;
        }
      }
    }
  }

  .header-main {
    @extend .flex;
    margin-top: 100px;

    @media(max-width: 1024px) {
      flex-wrap: wrap;
      padding-bottom: 100px;

      > div {
        width: 100%;
      }

      .info {
        margin-top: 0!important;
      }

      .image {
        margin-top: 80px;
        text-align: center;
      }
    }

    .info {
      margin-top: 130px;
      font-size: 24px;

      h1 {
        font-size: 62px;
        font-weight: 700;
      }

      @media(max-width: 1210px) and (min-width: 1025px) {
        h1 {
          font-size: 40px;
        }
      }

      @media(max-width: 700px) and (min-width: 500px) {
        h1 {
          font-size: 50px;
        }
      }

      @media(max-width: 499px) {
        h1 {
          font-size: 35px;
        }
      }

      .download {
        font-weight: 700;
        background: #fff;
        border: 0;
        border-radius: 50px;
        padding: 10px 35px;
        font-size: 18px;
        margin-top: 30px;
        transition: all .6s ease;

        &:hover {
          transform: translateY(-5px) scale(1.05);
        }
      }
    }

    @media(min-width: 1310px) {
      image {
        max-width: 400px;
      }
    }

    @media(max-width: 500px) {
      img {
        width: 100%;
      }
    }

    .image {
      z-index: 2;
    }
  }

  &::after {
    content: "";
    position: relative;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 0;
    z-index: 1;
    border-bottom: 0;
    border-top: 400px solid transparent;
    border-right: 100vw solid #fff;
  }
}

