@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-family-jost: "Jost", sans-serif;
$font-family-jost: "DM Serif Display", serif;
$black-color: #292F36;
$brown-color: #CDA274;
$gray-color: #4D5053;

* {
    font-weight: 400;
    text-decoration: none;
    font-size: 18px;
    outline: none;
}


    a {
        text-decoration: none;
  
    &:hover {
      text-decoration: none;
    }
  }
  
  .flex {
      display: flex;
      justify-content: space-between; // розкидати об'єкти по різних сторонах
  }
  header {
    padding-top: 60px;
  
    .header-top {
      @extend .flex;
      align-items: center;
  
      .logo {
        margin: 7px 20px;
      }
  
      @media(min-width: 1025px) {
        .menu {
          display: none;
        }
      }
  
      @media(max-width: 1024px) {
        ul {
          display: none;
        }
  
        .menu {
          font-size: 35px;
        }
      }
  
      ul {
        list-style: none;
        margin: initial;
  
        li {
          display: inline-block;
          margin-right: 57px;
  
          &:last-child {
            margin-right: 0;
          }
  
          a {
            color: $whiteColor;
            text-transform: uppercase;
            font-size: 18px;
  
            &::after {
              content: "";
              width: 0;
              display: block;
              background-color: $whiteColor;
              height: 2px;
              transition: all .3s ease;
            }
  
            &:hover::after {
              width: 100%;
                    }
                }
            }
        }
    }
}